.calendar-container {
    padding: 20px;
    position: relative;
    align-content: flex-start;
}

.custom-datepicker {
    filter: drop-shadow(35px 45px 73px rgba(32, 32, 35, 0.07));
    background: #EFF1F5;
    border-radius: 10px;
}

.mantine-focus-auto path {
    color: #007AFF;
}

.mantine-DatePicker-weekdaysRow .mantine-DatePicker-weekday {
    color: #007AFF !important;
    font-size: 1.1rem !important;
}

/* Normal workdays */
.mantine-DatePicker-day {
    color: #000000;
}

/* Weekends */
.mantine-DatePicker-day[data-weekend] {
    color: #007AFF;
}

.selected-range {
    display: flex;
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 260px;
    min-height: 70px;
}

.date-column {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 100px;
}

.label {
    color: #6B7280;
    font-size: 0.9rem;
    margin-bottom: 4px;
}

.date {
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    min-height: 1.2rem;
}

.placeholder {
    color: #006FFF;
    font-style: italic;
    font-size: 1rem;
}

/* Dark Mode */
.dark .calendar-container {
    background-color: #333;
}

.dark .custom-datepicker {
    background: #333;
    border-radius: 10px;
}

.dark .mantine-DatePicker-weekdaysRow .mantine-DatePicker-weekday {
    color: #66A3FF !important;
}

/* Normal workdays in dark mode */
.dark .mantine-DatePicker-day {
    color: #FFFFFF;
}

/* Weekends in dark mode */
.dark .mantine-DatePicker-day[data-weekend] {
    color: #66A3FF;
}

.dark .label,
.dark .placeholder {
    color: #CCCCCC;
}

.dark .date {
    color: #FFFFFF;
}
.dark .m_87cf2631{
    color: #FFFFFF;
}