.parameters-panel {
    display: block;
    flex-direction: column;
    padding: 32px 24px;
    min-width: 280px;
    background-color: white;
    width: 70%;
}

.section {
    display: flex;
    flex-direction: column;
}

.section-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 32px;
}

.location-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
    width: 50px;
}

.location-label {
    font-size: 16px;
    font-weight: 500;
}

.location-select {
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #f9f9f9;
    appearance: none;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

.block-label {
    font-size: 16px;
    font-weight: 500;
}

.block-select {
    padding: 10px 12px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #f9f9f9;
    appearance: none;
}

.checkbox-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.checkbox-label {
    font-size: 15px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox {
    width: 16px;
    height: 16px;
}

.block-select:hover {
    background-color: #e0e0e0;
}

.graph-section {
    margin-top: 32px;
    padding: 24px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    background-color: #fafafa;
}

.column-group {
    display: flex;
    gap: 24px;
}

.middle-col, .right-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.graph-section {
    position: absolute;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.reset-button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
    display: inline-block;
}

.reset-button.visible {
    opacity: 1;
    transform: scale(1);
}

.reset-button:hover {
    background-color: #ff4c4c;
}


/* Dark Mode */
.dark .parameters-panel {
    background-color: #222;
}

.dark .location-select, .dark .block-select {
    background-color: #444;
    color: #FFF;
}

.dark .location-label, .dark .block-label {
    color: #E0E0E0;
}

.dark .section-title {
    color: #E0E0E0;
}

.dark .graph-section {
    background-color: #444;
    border: 1px solid #555;
}

.dark .checkbox-label{
    color: #E0E0E0;
}
