/* СТИЛІ ДЛЯ СВІТЛОЇ ТЕМИ */

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff; /* Світла тема */
  color: black; /* Світлий текст */
}

.footer {
  background-color: #EFF1F5;
  text-align: center;
  padding: 1rem;
}

.header {
  background-color: #EFF1F5;
  text-align: left;
  padding: 1rem;
}

.logo {
  color: black;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.show-button {
  width: 390px;
  height: 50px;
  background-color: #1C1B1F;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.footer {
  font-size: 0.875rem;
  color: #4B5563; /* tailwind gray-600 */
}

.panel-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  max-width: 1200px;
  width: 100%;
}

.header {
  background-color: #EFF1F5;
  text-align: left;
  padding: 1rem;
  display: flex;  /* Змінюємо на flex для вирівнювання елементів */
  justify-content: space-between;  /* Розміщуємо елементи по краях */
  align-items: center;  /* Вирівнюємо елементи по вертикалі */
}

.logo {
  color: black;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
}

.show-button {
  width: 160px;  /* Зменшуємо ширину кнопки */
  height: 40px;
  background-color: #1C1B1F;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


/* Кнопка для темної теми */
.dark-mode-toggle {
  background-color: #333;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dark-mode-toggle:hover {
  background-color: #555;
}

/* СТИЛІ ДЛЯ ТЕМНОЇ ТЕМИ */

.dark .container {
  background-color: #1A1A1A; /* Темна тема */
  color: white; /* Темний текст */
}

.dark .header {
  background-color: #333;
  color: white;
}

.dark .footer {
  background-color: #222;
  color: white;
}

.dark .show-button {
  background-color: #444;
  color: white;
}

.dark .main {
  background-color: #222;
  color: white;
}
